@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600&display=swap');

.banner {
  padding: 18px 0 !important;
}

body {
  font-family: 'Catamaran', sans-serif;
}

h1, h2 {
  font-weight: 600;
}

h3, h4 {
  font-weight: 500;
}

p {
  font-weight: 400;
}