@import url(//fonts.googleapis.com/css?family=Telex);

body {
  font-family: telex;
}

.banner {
  width: 100%;
  height: 150px;
  background-image: url(../images/computers.jpg);
  background-size: cover;
  color: white;
  font-weight: bold;
}
