---
name:
course: CS165A
semester: 2015 (Fall)
github: #
application:
portfolio:  #
presentation: #
bestbet: no
image: http://plymouthministorage.com/wp-content/uploads/2016/03/entrepreneurship-logo-entre1.jpg
---
