<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

    <title>Brandeis Student Projects</title>
  </head>

  <body>
    <div id="layout" class="pure-g">
      <div class="content pure-u-1 pur-u-md-3-4">
        {{content}}
      </div>
    </div>
  </body>
</html>
